@import "_mixins.scss";
@import "_variables.scss";

.form-control {
  padding: 22px 12px;
  transition: 0.2s;
  color: $--color-primary;

  &::placeholder {
    color: rgba($--color-primary, 0.5);
  }

  &:focus {
    color: $--color-primary;
    box-shadow: none;
  }

  &--highlight {
    color: $--color-highlight;
    font-family: $--font-medium;
    font-size: 14px;

    &:focus {
      color: $--color-highlight;
    }
  }
}

.errordiv{
  font-family: $--font-medium;
  color: $--color-danger;
  font-size: 14px;
  text-align: left;
}
@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 576px) {}