/* Color Variables */
$--color-white: #ffffff;
$--color-black: #000000;
$--color-primary: #0a1e41;
$--color-secondary: #314eac;
$--color-blue: #1b9be2;
$--color-green: #20b722;
$--color-highlight: #df6401;
$--color-grey: #F2EDED;
$--color-danger: #ED0F0F;
$--color-success: #05C953;

/* Button Variables */
$--btn-primary: #5AA2F0;
$--btn-danger: #ED0F0F;
$--btn-success: #05C953;

/* Font Variables */
$--font-black: 'Roboto-Black';
$--font-light: 'Roboto-Light';
$--font-bold: 'Roboto-Bold';
$--font-regular: 'Roboto-Regular';
$--font-medium: 'Roboto-Medium';
$--font-thin: 'Roboto-Thin';