@import "../_mixins.scss";
@import "../_variables.scss";
@import "_login.scss";
@import "_navigation.scss";

header {
  transition: 0.4s;
  background-color: $--color-primary;
}

.sitenav {
  padding: 22px 0px;
  transition: all 0.5s ease-in-out;
  box-shadow: 0px 0px 18px 1px rgba($--color-black, 0.1);

  &__logo {
    width: 180px;
  }

  .logo-dark {
    display: none;
  }

  &__links {
    background-color: rgba($--color-primary, 0.7);
    position: fixed;
    top: 0px;
    right: -100%;
    // left: 0%;
    width: 380px;
    height: 100vh;
    transition: 0.5s;
    // overflow-y: auto;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
      border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb {
      -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
      border-radius: 0px;
    }

    &.active {
      right: 0%;
    }
  }

  &__hamburger {
    width: 30px;
    height: 24px;
    top: 2px;
    position: relative;
    cursor: pointer;

    .hamburger-inner {
      position: absolute;
      width: 100%;
      height: 3px;
      border-radius: 4px;
      background-color: $--color-blue;
      transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::before,
      &::after {
        content: "";
        @extend .hamburger-inner;
      }

      &::before {
        top: 10px;
        width: 20px;
        right: 0px;
      }

      &::after {
        top: 20px;
      }
    }

    &.active {
      .hamburger-inner {
        background-color: transparent;

        &::before {
          width: 100%;
          top: 0;
          transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.15s,
            transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
          transform: translate3d(0, 10px, 0) rotate(45deg);
          background-color: $--color-blue;
        }

        &::after {
          top: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
            transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.22s;
          transform: translate3d(0, 10px, 0) rotate(-45deg);
          background-color: $--color-blue;
        }
      }
    }
  }

  &.sticky {
    background-color: $--color-primary;
    box-shadow: 0px 0px 18px 1px rgba($--color-black, 0.1);

    .logo-dark {
      display: block;
    }

    // .logo-light {
    //   display: none;
    // }
  }
}

// .site {
//   &:not(.home) {
//     header {
//       background-color: $--color-primary;
//     }

//     .site-content {
//       padding-top: 69px;
//     }
//   }
// }

@media only screen and (min-width: 769px) {
  .sitenav__links {
    // @include flexbox();
    @include justify-content(center);
    @include align-items(center);
  }
}

@media only screen and (max-width: 768px) {
  .sitenav {
    background-color: $--color-primary;
    box-shadow: 0px 0px 18px 1px rgba($--color-black, 0.1);
    padding: 16px 0px;

    &__links {
      //   position: fixed;
      //   top: 70px;
      //   left: 100%;
      //   background-color: $--color-white;
      //   width: 100%;
      //   height: calc(100vh - 70px);
      //   transition: 0.5s;

      //   &.active {
      //     left: 0;
      //   }
      .sitenav__download {
        display: none;
      }
    }

    &__logo {
      width: 170px;
    }

    &__linklist {
      max-width: 720px;
      display: block;
      margin: 0 auto;
    }

    &__linkitem {
      color: $--color-black;

      &.active {
        a:after {
          border-bottom: 2px solid $--color-black;
        }
      }
    }

    .logo-dark {
      display: block;
    }

    // .logo-light {
    //   display: none;
    // }

    .btn-login {
      margin-left: auto;
    }

    &__download {
      &--icons {
        .sx-btn {
          color: $--color-green;
          font-size: 24px;
          padding: 0px;
          background-color: transparent;
          min-width: auto;
        }
      }
    }
  }

}

@media only screen and (max-width: 576px) {
  .sitenav {
    &__logo {
      width: 146px;
    }

    &__links {
      // background-color: $--color-primary;
      top: 56px;
      width: 100%;
      height: calc(100vh - 56px);
      overflow-y: auto;
    }

    &__linkitem {
      color: $--color-white;

      a {
        font-size: 14px;
      }
    }
  }
}